<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>city</td>
            <td>street</td>
            <td>zipcode</td>
        </tr>
        <tr th:each ="member :${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.address?.city}"></td>
            <td th:text="${member.address?.street}"></td>
            <td th:text="${member.address?.zipcode}"></td>

        </tr>
    </table>

    <a href="/members/goHome">홈으로</a>
</body>
</html>